root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = false
ij_typescript_force_semicolon_style = true
ij_typescript_use_semicolon_after_statement = false
